<%= render 'shared/club_banner', object: @club, as: @club %>


<div class="container">

<h1>
  <%= @club.name %>
</h1>

<%= render 'shared/club_nav' %>

<div class="row">
  <div class="col-md-4" >
  	<div class="well">

  		<address>
  			<%= @club.address %>
  		</address>
  		<p>
  		<%= mail_to @club.email, @club.email %>
  		</p>
  		<p>
  		<a href="tel:<%= @club.phone_number %>"><%= @club.phone_number %></a>
  		</p>
  	</div>
  </div>
  <div class="col-md-8">
    <div>
      <div id="map" style='width: 750px; height: 400px;'></div>
    </div>
  </div>

</div>



<script type="text/javascript">
  
handler = Gmaps.build('Google');

handler.buildMap({
 provider: {
  disableDefaultUI: true,
  mapTypeId: google.maps.MapTypeId.HYBRID,
  zoom: 8,
  zoomControl: false,
  center: new google.maps.LatLng(<%=j @club.latitude.to_json.html_safe %>, <%=j @club.longitude.to_json.html_safe %>),

}, internal: {id: 'map'}}, function(){
  markers = handler.addMarkers([
    {
      "lat": <%=j @club.latitude.to_json.html_safe %>,
      "lng": <%=j @club.longitude.to_json.html_safe %>,
      "picture": {
        "url": "http://golfclwb.herokuapp.com/assets/golf-clwb-logo-9bcac6436c3463be242f3bb1a19f823a.png",
        "width":  30,
        "height": 30
      },
      "infowindow": "<a href='#{club_url(@club.slug)}' ><%=j @club.name.html_safe %></a>"
    }
  ]);
  handler.bounds.extendWith(markers); 
  // handler.fitMapToBounds();
});

console.log(handler);

</script>