<%= simple_form_for(@hole) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :number %>
    <%= f.input :name %>
    <%= f.input :course_id %>
    <%= f.input :image %>
    <%= f.input :stroke_index %>
    <%= f.input :video_embed_code %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
