<%= render 'shared/club_banner', object: @club, as: @club %>

<div class="container">

<h1>
  Hole <%= @hole.number %>

<small>
  <%= link_to @hole.course.name, @hole.course %>
</small>
</h1>

<%= render 'shared/club_nav', object: @club, as: @club %>

<div class="row">
  <div class="col-md-4">
<table class="table table-hover ">
  <thead>
    <tr>
      <th>Tee</th>
      <th>Length</th>
      <th>Par</th>
    </tr>
  </thead>
  <tbody>
   <% @hole.tees.order("length DESC").each do |tee| %>
    <tr class="<%= tee.colour.downcase %>">
        <td><%= tee.colour %></td>
        <td><%= tee.length %></td>
        <td><%= tee.par %></td>
    </tr>
        <% end %>

  </tbody>
</table> 
  <div class="pull-right">
  <% unless @hole.number == 1 %>
    <%= link_to "Previous Hole", course_hole_path(:club_id => @hole.course.club.id, :course_id => @hole.course.id, :id => @hole.id.to_i - 1), 'data-no-turbolink' => true, :class => "btn btn-default btn-sm" %>
  <% end %>
  <% unless @hole.number == @hole.course.holes.last.number %>
    <%= link_to "Next Hole", course_hole_path(:club_id => @hole.course.club.id, :course_id => @hole.course.id, :id => @hole.id.to_i + 1), 'data-no-turbolink' => true, :class => "btn btn-default btn-sm" %>
  <% end %>
  </div>
  </div>
	<div class="col-md-8">
      <!-- Nav tabs -->
      <ul class="nav nav-tabs" role="tablist">
        <li class="active"><a href="#map" role="tab" data-toggle="tab">Map</a></li>
        <li><a href="#video" role="tab" data-toggle="tab">Video</a></li>
      </ul>

      <div class="tab-content">
        <div class="tab-pane fade in active" id="map">
        <br/>
           <div style='width: 100%; height:100%;'>
            <div id="map-hole" style='width: 100%; height: 400px;'></div>
          </div>

        </div>
        <div class="tab-pane fade" id="video">
        <br/>
          <iframe width="750" height="422" src="//www.youtube.com/embed/iOMtzWWg0lc" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
	</div>
	
</div>
<%= link_to 'Edit', edit_hole_path(@hole) %> |
<%= link_to 'Back', holes_path %>

</div>


<% if @coords != [] %>
<script type="text/javascript">

$(document).ready(function() {

function initialize() {
  var mapOptions = {
    disableDefaultUI: true,
    zoom: 17,
    center: new google.maps.LatLng(<%=j @coords.last.latitude.to_json.html_safe %>, <%=j @coords.last.longitude.to_json.html_safe %>),
    mapTypeId: google.maps.MapTypeId.HYBRID
  };

  var map = new google.maps.Map(document.getElementById('map-hole'),
      mapOptions);

  var flightPlanCoordinates = [

  ];
  console.log(flightPlanCoordinates);

  var coordsArray = JSON.parse("<%=j @coords.to_json.html_safe %>")  ;
  console.log(coordsArray);

  var coordsLength = coordsArray.length;
  for (var i = 0; i < coordsLength; i++) {
   
    flightPlanCoordinates[i] = new google.maps.LatLng(coordsArray[i]["latitude"], coordsArray[i]["longitude"]);
  }
  console.log(flightPlanCoordinates);

  var flightPath = new google.maps.Polyline({
    path: flightPlanCoordinates,
    geodesic: true,
    strokeColor: '#FF0000',
    strokeOpacity: 1.0,
    strokeWeight: 2
  });

  flightPath.setMap(map);
  google.maps.event.addListener(map, "click", function (e) {

    //lat and lng is available in e object
    var latLng = e.latLng;

    console.log(latLng);

});
}

google.maps.event.addDomListener(window, 'load', initialize);


});


</script>]
<% end %>
