
<% if @club.banner %>
<!-- <div class="crop"> -->
   <%#= image_tag(@club.banner.url(:banner)) %>
<!-- </div> -->

<div class="crop" style="background-image: url('<%= @club.banner.url(:banner) %>');">
  <%= image_tag(@club.logo.url, :class => "pull-left") %>
</div>
<% else %>

<div>
  <div id="map" style='width: 1500px; height: 150px;'></div>
</div>

<% end %>

<script type="text/javascript">
  
handler = Gmaps.build('Google');

handler.buildMap({
 provider: {
  disableDefaultUI: true,
  mapTypeId: google.maps.MapTypeId.HYBRID,
  zoom: 12,
  zoomControl: true

}, internal: {id: 'map'}, MapTypeId: 'HYBRID'}, function(){
  markers = handler.addMarkers([
    {
      "lat": <%=j @club.latitude.to_json.html_safe %>,
      "lng": <%=j @club.longitude.to_json.html_safe %>,
      "picture": {
        "url": "http://res.cloudinary.com/dp74g8ibh/image/upload/v1410372939/favicon_fxvuto.png",
        "width":  30,
        "height": 30
      },
      "infowindow": "<%=j @club.name.html_safe %>"
    }
  ]);
  handler.bounds.extendWith(markers);
  handler.fitMapToBounds();
});

console.log(handler);

</script>
<style type="text/css">
  .crop {
    height:200px;
    overflow: hidden;
}

.crop img {
    /*width: 100%;*/
    /*height: 150px;*/
    margin: 25px 0 0 125px;
}
</style>