<%= render 'shared/club_banner', object: @club, as: @club %>

<div class="container" >
<h1>
  <%= @course.name %>

	  <small>
		  <%= link_to @course.club.name, @course.club %>
	</small>
</h1>

<%= render 'shared/club_nav', object: @club, as: @club %>

<table class="table table-striped table-hover ">
  <thead>
    <tr>
      <th>Number</th>
      <th>Name</th>
      <% @course.holes.first.tees.each do %>
      <th>Tee</th>
      <th>Length</th>
      <th>Par</th>
      <% end %>
      <th>View</th>
    </tr>
  </thead>
  <tbody>
    <% @course.holes.each do |hole| %>
    <tr>
      <td><%= hole.number %></td>
      <td><%= "Hole #{hole.number}" %></td>
      <% hole.tees.each do |tee| %>
        <td><%= tee.colour %></td>
        <td><%= tee.length %></td>
        <td><%= tee.par %></td>
      <% end %>
      <td><%= link_to "View", course_hole_path(:club_id => hole.course.club.id, :course_id => hole.course.id,:id => hole.id), :class => "btn btn-sm btn-info pull", 'data-no-turbolink' => true %></td>
    </tr>
        <% end %>
    <tr class="info">
      <td>Total</td>
      <td></td>
      <td></td>
      <% @course.holes.first.tees.each do %>
      <td><%= @course.total_tee_length("Yellow")[:length] %></td>
      <td><%= @course.total_tee_par("Yellow")[:par] %></td>
      <td></td>
      <% end %>
    </tr>
  </tbody>
</table> 


<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>

</div>
